<main>
    <div style="height: 100%;">
        <app-header></app-header>
        <div class="watermark-container first-water-mark">
            <water-mark-text label="ARCHIFF"></water-mark-text>
        </div>
        <div class="watermark-container">
            <water-mark-text  label="ARCHIFF"></water-mark-text>
        </div>
        <div class="watermark-container">
            <water-mark-text label="ARCHIFF"></water-mark-text>
        </div>
    </div>
    <div class="modal">
        <h2>Verify Your Email Address</h2>
        <p>A unique code has been sent to your email address</p>
        <div class="input-group">
            <label for="verification-code">Verification Code</label>
            <input type="text" id="verification-code" placeholder="Enter Code">
            <a href="#" class="resend">Resend Code</a>
        </div>
        
        <button class="verify-btn flex items-center justify-center">
                VERIFY ME 
                <img style="color:white" src="/assets/icons/arrow-right-white.svg" alt="" />
        </button>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>  
</main>