<style>
    .main{
        height: 100%;
    }
    .watermark-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:26%;
    }
    .content{
        padding:0 40px;
    }
    .gadget-section{
        position:relative;
        margin-top: 170px;
    }
    .watermark-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:-16%;
        width: 100%;
    }
    @media screen and (max-width:700px) {
        .watermark-container {
            top:-5%;
        }
        .content{
            padding:0 10px;
        }
        .gadget-section{
            margin-top:80px;
        }
    }
</style>
<main class="main">
    <navbar></navbar>
    <section class="content">
        <div style="margin-top: 60px;">
            <shop-filter-bar></shop-filter-bar>
        </div>
        <categories-section></categories-section>
        <div class="gadget-section">
            <div class="watermark-container">
                <water-mark-text label="ARCHIF GADGETS"></water-mark-text>
            </div>
            <gadget-section></gadget-section>
         </div>
        <review></review>
        <app-about-footer></app-about-footer>
        <app-footer></app-footer>
    </section>
</main>
