<style>
    .main{
        height: 100%;
    }
    .watermark-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:26%;
    }
    .content{
        padding:0 40px;
    }
</style>
<main class="main">
    <navbar></navbar>
    <section class="content">
        <shop-filter-bar></shop-filter-bar>
        <categories-section></categories-section>
        <gadget-section></gadget-section>
        <review></review>
        <app-about-footer></app-about-footer>
        <app-footer></app-footer>
    </section>
</main>
