main{
    padding:0 40px;
    
    width:100%;
}
.wrapper{
    grid-template-columns: 2fr 8fr;
    margin-top: 40px;
    align-items: stretch;
    max-width: 100%;
}
.wrapper, .products-container{
    display: grid;
}
.products-container{
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap:24px;
}
.sidebar-header{
    padding-bottom:24px;
    border-bottom: 1px solid rgba(228, 231, 233, 1);
}
.sidebar-header h1{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.filter-wrapper{
    max-width: 100%;
    background-color: rgba(242, 244, 245, 1);
    padding:12px 24px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.filter-list-container{
    gap:8px;
}
.filter-name{
    color:rgba(25, 28, 31, 1);
}
.filter-list{
    gap:16px;
}
.filter-close-button{
    color: rgba(146, 159, 165, 1);
}
.aside-search-group{
    position: relative;
}
.search-icon,.aside-search-icon{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.aside-search-group{
    margin-bottom: 24px;
}
.aside-search-input{
    border: 1px solid rgba(228, 231, 233, 1);
    padding:10px;
    width:100%;
    color:rgba(119, 135, 143, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.aside-search-icon{
    right:15px;
}
.aside-seller-card-wrapper{
    padding-top: 24px;
    border-top:1px solid rgba(228, 231, 233, 1);
}

.aside-seller-card{
    border:1px solid rgba(228, 231, 233, 1);
    gap:16px;
    padding:12px;
    margin-bottom:16px;
}
.aside-seller-card-text h2{
    margin-bottom:10px;
    color:rgba(25, 28, 31, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.aside-seller-card-text p{
    color:rgba(25, 28, 31, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.choosing-laptop{
    gap:16px;
}
.choosing-laptop h3{
    font-weight:400;
    font-size:1rem;
    line-height:26px;
    color:rgba(119, 119, 119, 1);
}
.choosing-laptop-text{
    font-weight:700;
    font-size:40px;
    line-height:70px;
}
.learn-more a{
    margin-top:28px;
    color:rgba(26, 183, 108, 1);
    line-height:100%;
}
.apple-watch-container {
    margin: 0 auto;
    gap:8px;
    border:1px solid rgba(9, 9, 9, 1);
    padding:24px;
    border-radius: 4px;
  }
  .image {
    width: 100%;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .subtitle {
    font-size: 18px;
    text-align: center;
  }
  .price {
    font-size: 12px;
    color:rgba(71, 81, 86, 1);
    text-align: center;
    gap:4px;
    margin-top:12px;
  }
  .price-card{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding:8px 8px;
    font-size: 16px;
    color:rgba(25, 28, 31, 1);
    font-weight: 600;
  }
  
  .button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
  }
  .button:last-child{
    border: 1.8px solid rgba(9, 9, 9, 1);
    background-color: white;
    color:rgba(9, 9, 9, 1);
    font-weight: 700;
  
  }
  .filter-bar{
    max-width:100%;
  }

  @media screen and (max-width:700px) {
    .wrapper{
       display: none;
    }
  }