<main>
    <div>
        <h1 style="font-size: 40px; font-weight: 400; color:rgba(0, 0, 0, 1);padding-bottom:24px; border-bottom:1px solid rgba(237, 237, 237, 1)">Computer Accessories</h1>
        <p style="color:rgba(9, 9, 9, 1);font-size: 14px; line-height: 20px;margin-block:36px;">
            The most powerful MacBook Pro ever is here.
            With the blazing-fast M1 Pro or M1 Max chip — the 
            first Apple silicon designed for pros — you get 
            groundbreaking performance and amazing battery life.
            Add to that a stunning Liquid Retina XDR display, 
            the best camera and audio ever in a Mac notebook, 
            and all the ports you need. The first notebook of
            its kind, this MacBook Pro is a beast.
            M1 Pro takes the exceptional performance of the M1
            architecture to a whole new level for pro users
        </p>
        <div class="accessories-container">
            @for(accessory of accessories; track accessory.brandName){
                <app-product-card [product]="accessory"></app-product-card>
            }
            
        </div>
    </div>
    
</main>