.filter-bar{
    border-block:1px solid rgba(237, 237, 237, 1);
    padding:12px 50px;
    gap:16px;
}
.search-group{
    position: relative;
}
.search-input{
    border:1px solid rgba(154, 168, 188, 1);
    padding:10px;
    padding-inline: 50px 250px;
    border-radius: 16px;
}
.search-input:focus{
    outline: 2px solid var(--archif-primary-color);
    outline-offset: -2px;
}
.search-input::placeholder{
    color:rgba(114, 129, 151, 1);
}
.search-icon{
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-50%);
}
.filter-selector-group{
    position: relative;
}
.filter-selector-caret{
    position: absolute;
    top:50%;
    right:15px;
    transform: translateY(-50%);
}
.filter-group{
    margin-left: auto;
    gap:12px;
    position: relative;
    z-index: 20;
}
.category-filter-group{
    gap:12px;
}
.filter-selector{
    background-color: rgba(9, 9, 9, 1);
    padding:10px;
    padding-inline:16px 50px;
    color:var(--archif-secondary-color);
    border-radius: 20px;
}
@media screen and (max-width:700px) {
    .filter-bar{
        margin-top:36px;
        padding:12px 0 !important;
        gap:8px;
        justify-content: space-between;
    }
    .category-filter-group{
        display: none;
    }
    .search-group{
        flex:3;
    }
    .filter-group{
        flex:1;
    }

    .search-input{
        padding-inline:40px!important;
        width:100%;
    }
}