<footer class="flex items-center justify-between relative z-[1000] bg-[#ffffff]" style="flex-grow: 1;">
    <div class="footer-links flex items-center gap-3">
        <a class="overflow-auto whitespace-nowrap" href="#">Terms</a>
        <a class="overflow-auto whitespace-nowrap" href="#">Privacy</a>
        <a class="overflow-auto whitespace-nowrap" href="#">Cookies</a>
        <a class="overflow-auto whitespace-nowrap" href="#">Legal</a>
        <a class="overflow-auto whitespace-nowrap" href="#">Refunds</a>
    </div>
    <div class="flex items-center justify-between date-socials" style="flex-grow:1;">
        <div></div>
        <p class="copyright">© 2025 Copyright By ARCHIF</p>
        <div class="social-icons flex items-center">
            <a href="#" class="social-icon flex items-center justify-center" ><img  src="/assets/icons/yt.svg" alt="" /></a>
            <a href="#" class="social-icon flex items-center justify-center" ><img  src="/assets/icons/tiktok.svg" alt="" /></a>
            <a href="#" class="social-icon flex items-center justify-center" ><img  src="/assets/icons/linkedin.svg" alt="" /></a>
            <a href="#" class="social-icon flex items-center justify-center" ><img  src="/assets/icons/ig.svg" alt="" /></a>
            <a href="#" class="social-icon flex items-center justify-center" ><img  src="/assets/icons/fb.svg" alt="" /></a>
        </div>
    </div>
</footer>