<section class="about-section">
    <h1>About Us</h1>
    <div class="content">
        <div class="info">
            <h3>Help & Information</h3>
            <ul>
                <li><a href="#">Frequently Asked Questions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Shipping & Returns</a></li>
            </ul>
        </div>
        <div class="info">
            <h3>About Us</h3>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Location</a></li>
            </ul>
        </div>
        <div class="faq">
            <h3>Maybe your question has not been answered, check this out.</h3>
            <ul>
                <li><a href="#" class="flex items-center justify-between">What is the refund policy<span><img src="/assets/icons/medium-arrow-right.svg" alt="" /></span></a></li>
                <li><a href="#" class="flex items-center justify-between">How can I get service from ARCHIF  <span><img src="/assets/icons/medium-arrow-right.svg" alt="" /></span></a></li>
                <li><a href="#" class="flex items-center justify-between">Is ARCHIF safe? <span><img src="/assets/icons/medium-arrow-right.svg" alt="" /></span></a></li>
            </ul>
        </div>
    </div>
</section>
