main{
    height: 100%;
    background-color: var(--archiff-secondary-color);
    position: relative;
     overflow-x: hidden;
}
.watermark-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.watermark-container:nth-of-type(1){
    top:16%;
}
.watermark-container:nth-of-type(2) {
    top:36%;
}
.watermark-container:nth-of-type(3) {
    top:56%;
}
.modal {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    top:20%;
    left: 50%;
    transform:translateX(-50%);
    z-index: 10;
    background: white;
    padding: 32px 0px 48px;
    text-align: center;
    max-width:500px;
    width: 85%;
}
.modal h2 {
    margin-bottom: 16px;
    font-size: 20px;
    color: rgba(25, 28, 31, 1);
}
.modal p {
    color: rgba(95, 108, 114, 1);
    margin-bottom: 20px;
    font-size: 14px;
}
.input-group {
    text-align: left;
    margin-bottom: 24px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color:rgba(25, 28, 31, 1);
    font-size: 14px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(228, 231, 233, 1);
    font-size: 14px;
    color:rgba(71, 81, 86, 1);
    font-weight: 400;
}
input,.verify-btn{
    width:100%;
}
.verify-btn  {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-block: 10px 24px;
    gap:12px;
}
.verify-btn:hover {
    background: #333;
}
.footer{
    padding-inline:40px;
}
.footer > *{
    font-size: 14px;
    line-height: 20px;
}
@media screen and (max-width: 768px) {
    .modal {
        box-shadow: none;
        padding-inline: 10px;
        padding-top:0;
    }
    .footer{
        padding-top:70px;
    }
}