<style>
.shipping-address {
    background: #fdfdfd;
    padding: 15px;
    border-radius: 10px;
}
.shipping-address-card{
    border: 1px solid rgba(238, 236, 236, 1);
    border-radius: 16px;
    width: 500px;
    padding: 36px 24px;;
    margin-top:20px;
}
.shipping-address-card{
    gap:40px;
}
.shipping-address-info{
    gap:16px;
}
.actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    font-size: 14px;
}
.actions a {
    text-decoration: none;
    color: rgba(60, 66, 66, 1);
    font-size:1rem;
    font-weight: 400;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .shipping-address{
        padding-inline: 0;
    }
    .shipping-address-card{
        max-width: 100%;
    }
}
</style>
<div class="shipping-address">
    <p>Shipping Address</p>
    <div class="shipping-address-card flex items-end justify-between">
        <div class="flex flex-column shipping-address-info">
            <p>Kacy Mark Bartlett</p>
            <p>South Liberation Link, Airport City</p>
            <p>Accra Ghana, ZIP code: 00233</p>
            <p>GK - 0938 - 0930</p>
        </div>
        <div class="actions">
            <a href="#">Remove</a> | <a href="#">Edit</a>
        </div>
    </div>
</div>