
<section class="main-section">
    <div class="watermark-container">
        <water-mark-text [customStyle]="{fontSize:'180px'}" label="ARCHIF GADGETS"></water-mark-text>
    </div>
    <div class="grid-container">
        <div class="big-gagdet-card flex items-center">
            <div class="gadget-price flex items-center justify-center">$299</div>
            <div>
                <div class="flex items-center gagdet-card-text-container">
                    <div class="dash"></div>
                    <span>THE BEST PLACE TO PLAY</span>
                </div>
                <div class="gadget-title flex flex-column">
                    <h1>XBOX</h1>
                    <h1>CONSOLES</h1>
                 </div>
                 <p class="gadet-discount-info">Save up to 50% on select Xbox games. Get 3 months of PC Game Pass for $2 USD.</p>
                 <shop-button label="SHOP NOW"></shop-button>
            </div>
            <div>
                <img src="/assets/images/xbox-one.svg" alt="an xbox one" />
            </div>
        </div>
        <div class="flex flex-row medium-gadget-card-container">
            <div class="medium-gadget-card ">
                <div class="medium-gadget-card-title">
                    <h2>SUMMER SALES</h2>
                    <h3>New Google </h3>
                    <h3>Pixel 6 Pro</h3>
                </div>
                <shop-button iconColor="#000000"  [customStyle]="{backgroundColor:'white',color:'black'}" label="SHOP NOW"></shop-button>
                <div class="medium-card-image">
                    <img style="height:100%" src="/assets/images/pixel-pro.svg" alt="A pixel pro phone" />
                </div>
            </div>
            <div class="medium-gadget-card flex items-centers">
                <div>
                    <img style="height:100%; " src="/assets/images/xiaomi-buds.svg" alt="A pixel pro phone" />
                </div>
                <div>
                    <div class="medium-gadget-card-title">
                        <h2 style="font-size: 24px;font-weight: 600; text-align: left;">Xiaomi FlipBuds Pro </h2>
                        <h3>$2.99 USD</h3>
                    </div>
                    <shop-button label="SHOP NOW"></shop-button>
                 </div>
            </div>
        </div>
    </div>
    <div class="features-container">
       <shop-feature [customStyle]="{border:'none'}" iconUrl="/assets/icons/box.svg" title="Fasted Delivery" subTitle="Delivery in 24/H"></shop-feature>
       <shop-feature iconUrl="/assets/icons/trophy.svg" title="24 Hours Return" subTitle="100% money-back guarantee"></shop-feature>
       <shop-feature iconUrl="/assets/icons/card.svg" title="Secure Payment" subTitle="Your money is safe"></shop-feature>
       <shop-feature iconUrl="/assets/icons/headphone.svg" title="Support 24/7" subTitle="Live contact/message"></shop-feature>
    </div>
</section>