<main style="padding-inline: 40px;">
    <navbar></navbar>
        <category-filter-bar [categoryLabel]="categoryLabel"></category-filter-bar>
    <div>
        <app-navigation-back-component [customStyles]="{fontSize:'48px',fontWeight:400,borderBottom:'1px solid rgba(209, 213, 219, 1)'}" [showDivider]="false" title="Product Details"></app-navigation-back-component>
    </div>
    <div class="product-container">
        <div>
            <div class="product-image">
                <img class="slider-image" [src]="product.images[0].imageUrl" alt="MacBook Pro">
            </div>
            <div class="thumbnail-container">

                @for(image of product.images;track image){
                    <img class="thumbnail" [src]="image.imageUrl" alt="">
                }
            </div>
        </div>
        <div class="product-details">
            <h2 class="product-title">{{product.title}}</h2>
            <div class="flex justify-between items-center product-info">
                <div class="flex flex-column" style="gap:8px">
                    <p class="product-sku">Sku: A264671</p>
                    <p class="product-brand">Brand: Apple</p>
                </div>
                <div class="flex flex-column" style="gap:8px">
                    <p class="product-availability"><span style="color:rgba(95, 108, 114, 1)">Availability: </span>{{product.soldStatus}}</p>
                    <p class="product-category">Category: {{product.category.name}}</p>
                </div>
            </div>
            <p class="product-price">$699 <span class="product-original-price">${{product.price}}</span> <span class="product-discount">21% OFF</span></p>
            <div class="product-options-container">
               
                    <div class="product-options">
                        <div class="color-options" style="align-self: center;">
                            <div class="option-title">Color</div>
                            <div style="display: flex; gap: 10px;">
                                <div class="color-option space-gray"></div>
                                <div class="color-option silver"></div>
                            </div>
                        </div>
                        <div class="size-options">
                            <div  class="option-title">Size</div>
                            <div>
                                <select class="size-select">
                                    <option>14-inch Liquid Retina XDR display</option>
                                </select>
                            </div>
                        </div>
                        <div class="memory-options">
                            <div class="option-title">Memory</div>
                            <div>
                                <select class="memory-select">
                                    <option>16GB unified memory</option>
                                </select>
                            </div>
                        </div>
                        <div class="storage-options">
                            <div class="option-title">Storage</div>
                            <div>
                                <select class="storage-select">
                                    <option>1TB SSD Storage</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="flex items-center buy-quantity" style="gap:16px;margin-top:36px;">
                <div class="quantity-controls">
                    <p-inputnumber [showButtons]="true"  buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"  [inputStyle]="{width: '3rem',borderLeft:0,borderRight:0}">
                        <ng-template #incrementbuttonicon>
                            <span style="color:rgba(25, 28, 31, 1)" class="pi pi-plus"></span>
                        </ng-template>
                        <ng-template #decrementbuttonicon>
                            <span style="color:rgba(25, 28, 31, 1)" class="pi pi-minus"></span>
                        </ng-template>
                    </p-inputnumber>
                </div>
                <a style="display: block; width: 100%;" routerLink="/checkout">
                    <button href="#" class="buy-now-button">BUY NOW</button>
                </a> 
            </div>
            <div class="share-product flex justify-end items-center" style="gap:10px;">
                <span>Share product:</span>
                <div style="gap:12px;" class="flex items-center social-icons">
                    <a href="#"><img src="/assets/icons/copy-icon.svg" alt=""></a>
                    <a href="#"><img src="/assets/icons/fb-rounded.svg" alt=""></a>
                    <a href="#"><img src="/assets/icons/x.svg" alt=""></a>
                    <a href="#"><img src="/assets/icons/pintrest.svg" alt=""></a>
                </div>
            </div>
            <div>
                <span class="add-to-wishlist">Add to Wishlist</span>
                <span class="add-to-compare">Add to Compare</span>
            </div>
            <div class="guarantee flex flex-column">
                <span class="guarantee-text">100% Guarantee Safe Checkout</span>
                <div class="payment-methods">
                    <img src="/assets/images/payment-method.svg" alt="Visa"/>
                </div>
            </div>
        </div>
    </div>
    <div class="product-additional-info">
        <p-tabs value="0">
            <p-tablist >
                <p-tab value="0">DESCRIPTION</p-tab>
                <p-tab value="1">ADDITIONAL INFORMATION</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                 <div class="additonal-info-container">
                    <div class="content">
                        <div class="left-section">
                            <h2>Description</h2>
                           <p>{{product.description}}</p>
                        </div>
                        <div class="right-section">
                            <div class="features">
                                <h2>Feature</h2>
                                <ul>
                                    <li>Free 1 Year Warranty</li>
                                    <li>Free Shipping & Fasted Delivery</li>
                                    <li>100% Money-back guarantee</li>
                                    <li class="flex items-center"><img width="20px" height="20px" src="/assets/icons/headphone.svg" alt="">24/7 Customer support</li>
                                    <li class="flex items-center"><img width="24px" height="24px" src="/assets/icons/card.svg" alt=""> Secure payment method</li>
                                </ul>
                            </div>
                            <div class="shipping-info">
                                <h2>Shipping Information</h2>
                                <ul>
                                    <li>Courier: 2 - 4 days, free shipping</li>
                                    <li>Local Shipping: up to one week, $19.00</li>
                                    <li>UPS Ground Shipping: 4 - 6 days, $29.00</li>
                                    <li>Unishop Global Export: 3 - 4 days, $39.00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
    <div class="similar-product">
        <div class="similar-product-title">
            <h1>Similar Products</h1>
        </div>
        <div style="margin-top:60px;">
            <gadget-section></gadget-section>
        </div>
    </div>
    <app-about-footer></app-about-footer>
    <app-footer></app-footer>
</main>