<main>
    <p-toast></p-toast>
    <navbar></navbar>
    <div style="margin-top: 20px;">
        <app-navigation-back-component title="Profile"></app-navigation-back-component>
    </div>
    <div class="container">
        <div class="header">
            <div class="flex items-center profile-header" style="gap:16px;">
                <img src="/assets/images/profile.svg" alt="Profile Picture" class="profile-pic">
                <div class="user-info">
                    <h3>{{fullName}}</h3>
                    <p>{{email}}</p>
                </div>
            </div>
            <button class="edit-btn flex items-center justify-center gap-3" (click)="editUser()">
                @if(disableInput === true){
                    <span>Edit</span>
                }@else {
                    @if(loading){
                        <span>UPDATING</span>
                        <app-loader [loading]="loading"></app-loader>
                    }@else {
                        UPDATE 
                    }
                }
            </button>
        </div>

        <div class="info-section">
            <div class="info-box">
                <label for="fullname">Full Name</label>
                <input id="fullname" [(ngModel)]="fullName" type="text" [defaultValue]="fullName" [disabled]="disableInput">
            </div>
            <div class="info-box">
                <label for="phone">Mobile Number</label>
                <input id="phone" [(ngModel)]="phoneNumber" type="text" [defaultValue]="phoneNumber" [disabled]="disableInput">
            </div>
            <div class="info-box">
                <label for="email">Email Address</label>
                <input id="email" type="email" [defaultValue]="email" [disabled]="true">
            </div>
            <div class="info-box">
                <label for="address">Your Address</label>
                <input id="address" type="text" value="Ghana" [disabled]="true">
            </div>
        </div>

        <!-- <div class="billing-address">
            <p>Billing Address</p>
                <div class="billing-address-card flex items-center">
                    <img src="assets/images/visa.svg" alt="Visa Logo">
                    <div class="billing-personal-info flex flex-column justify-between">
                        <p>Kacy Mark Bartlett</p>
                        <p class="billing-personal-card-info">************5673</p>
                    </div>
            </div>
        </div> -->

        <shipping-address-card></shipping-address-card>
        <div class="divider divider2"></div>
        <div class="account-activity">
            <h2>Account Activity</h2>
        </div>
        <div class="account-activity-tab">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">Payment Notification</p-tab>
                    <p-tab value="1">My Orders</p-tab>
                    <p-tab value="3">Search History</p-tab>
                    <p-tab value="4">Favourite Items</p-tab>
                    <p-tab value="5">Refunds</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <div class="payment-activity-card flex">
                            <div class="payment-activity-icon">
                                <img src="/assets/icons/payment-check-icon.svg" />
                            </div>
                            <div class="payment-activity-content">
                                <h3>Payment Successful</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing 
                                    and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. 
                                </p>
                            </div>
                        </div>
                        <div class="payment-activity-card flex">
                            <div class="payment-activity-icon">
                                <img src="/assets/icons/payment-check-icon.svg" />
                            </div>
                            <div class="payment-activity-content">
                                <h3>Payment Failed</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing 
                                    and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. 
                                </p>
                            </div>
                        </div>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs >
        </div>
    </div>
</main>