<style>
    .card{
        border:1px solid rgba(204, 204, 204, 1);
        border-radius: 24px;
        padding: 24px 24px;
        height:500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-brand-name,.card-price{
        color:rgba(54, 54, 54, 1);
        font-weight: 700;
        margin-bottom: 16px;
    }
    .card-description{
        color: rgba(130, 130, 130, 1);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .card-image{
        text-align: center;
        padding-inline: 10px;
    }
    @media screen and (max-width:700px) {
        .image-wrapper{
            width: 100%;
            height: auto;
            overflow: hidden;
            display: inline-block;
        }
        .image-wrapper img {
            width: 100%;
            height: 100%;
            /* transform: scale(1.4); */
            object-fit: cover;
            display: block;
        }
    }
    .image-wrapper img{
        width: 100%;
        max-height: 200px;
        object-fit: contain;
    }
    .card-brand-name{
        font-size: 20px;
        margin-bottom: 16px;
        
    }
    .card-price-container{
        border-bottom: 1px solid rgba(204, 204, 204, 1);
        padding-bottom: 18px;
    }
    .view-deal-button{
        background-color: black;
        border-radius: 24px;
        color:white;
        gap:12px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
    @media screen and (max-width:700px) {
        .card{
            padding-inline: 8px;
        }
    }
</style>
<div class="card">
    <p-toast position="top-center" />
    <div class="card-image">
        <div class="image-wrapper ">
         <img width="150" [src]="product.images[0]?.imageUrl" [alt]="product.altText"/>
        </div>
    </div>
    <div >
        <h2 class="card-brand-name">{{product.title}}</h2>
        <p  class="card-description">{{product.description}}</p>
        <div class="flex justify-between items-center text-[14px] card-price-container">
            <p class="card-price !mb-0">${{product.price}}+</p>
            <div class="border border-[#363636] w-fit py-1 px-2 items-center rounded-[8px]">35% OFF</div>
        </div>
    </div>
    <!-- <div class="flex items-center" style="gap:16px; margin-block:16px;">
        <div style="font-size: 12px;gap:4px" class="flex items-center">
            <img src="/assets/icons/delivery-car.svg" alt="" />
            <span style="color:rgba(156, 156, 156, 1)">Free Shipping</span>
        </div>
        <div style="font-size: 12px;gap:4px;" class="flex items-center">
            <img src="/assets/icons/gift-box.svg" alt="" />
            <span style="color: rgba(156, 156, 156, 1);">Free Gift</span>
        </div>
    </div> -->
    <div style="gap:10px" class="flex items-center justify-between  mt-3">
        <button (click)="viewDeal(product.id)" class="flex items-center py-2 lg:py-3 text-[12px] justify-center view-deal-button">
            <span class="text-[14px]">VIEW DEAL</span>
            <div>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.79527 11.5L0.125 9.8308L7.17647 2.77683H1.87913L1.8931 0.5H11.125V9.73302H8.83276L8.84673 4.44603L1.79527 11.5Z" fill="white"/>
                </svg>
            </div>
        </button>
        <ng-content></ng-content>
    </div>
</div>