<main class="main">
    <navbar></navbar>
    <div>
        <category-filter-bar [categoryLabel]="categoryName"></category-filter-bar>
    </div>
    <section style="padding:0 48px;">
        <div>
            <app-navigation-back-component [customStyles]="{fontSize:'48px',fontWeight:400,borderBottom:'1px solid rgba(209, 213, 219, 1)'}" [showDivider]="false" [title]="categoryName"></app-navigation-back-component>
        </div>
        <div class="hero">
            <img src="/assets/images/category-hero.svg" />
        </div>
        <div class="gadget-section">
            <gadget-section></gadget-section>
         </div>
        <app-newgadget></app-newgadget>
        <app-computer-accessories></app-computer-accessories>
        <app-about-footer></app-about-footer>
        <app-footer></app-footer>
    </section>
</main>