<main>
    <div style="height: 100%;">
        <app-header></app-header>
        <div class="watermark-container first-water-mark">
            <water-mark-text [customStyle]="{fontSize:'270px'}" label="ARCHIFF"></water-mark-text>
        </div>
        <div class="watermark-container">
            <water-mark-text [customStyle]="{fontSize:'270px'}" label="ARCHIFF"></water-mark-text>
        </div>
        <div class="watermark-container">
            <water-mark-text [customStyle]="{fontSize:'270px'}" label="ARCHIFF"></water-mark-text>
        </div>
    </div>
    <div class="modal">
        <h2>You&apos;re Verified</h2>
        <p>Let&apos;s get to know you a little</p>
        <div class="input-group">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" value="+233">
        </div>
        <div class="input-group">
            <label for="address">Your Address (Location)</label>
            <input type="text" id="address" placeholder="Address">
        </div>
        <a href="/">
            <button class="verify-btn flex items-center justify-center">
                CONTINUE TO ARCHIF 
                <img style="color:white" src="/assets/icons/arrow-right-white.svg" alt="" />
            </button>
        </a>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div> 
</main>