<main class="main">
    <div class="flex items-center card">
        <div class="card-text-container">
            <div class="card-text flex flex-column">
                <h2 class="card-title">INTRODUCING</h2>
                <h1>New Apple</h1>
                <h1>Homepod Mini</h1>
                <p>Jam-packed with innovation, HomePod mini delivers unexpectedly.</p>
             </div>
             <shop-button label="SHOP NOW"></shop-button>
        </div>
        <div>
            <img src="/assets/images/home-pod.svg" alt="Home pod" />
        </div>
    </div>
    <div class="flex items-center card">
        <div class="card-text-container">
            <div class="card-text flex flex-column">
                <h2 style="color:#000000;background-color: rgba(243, 240, 236, 1);" class="card-title">INTRODUCING NEW</h2>
                <h1  style="color: white;">Xiaomi Mi 11 Ultra</h1>
                <h1  style="color: white;">12GB+256GB</h1>
            </div>
            <shop-button iconColor="#000000"  [customStyle]="{backgroundColor:'white',color:'black'}" label="SHOP NOW"></shop-button>
        </div>
        <div class="card-2-image">
            <img src="/assets/images/xiaomi-11.svg" alt="xiaomi 11 phone" />
        </div>
    </div>
</main>