<main>
    <navbar></navbar>
    <div class="filter-bar flex items-center">
        <category-filter-bar class="grow-1" [categoryLabel]="categoryLabel"></category-filter-bar>
    </div>
    <div>
        <div class="flex flex-wrap justify-start mt-4 gap-2 items-center md:!hidden">
            <filter-button style="flex: 1;" label="Color"></filter-button>
            <filter-button style="flex: 1;" label="Rating"></filter-button>
            <filter-button style="flex: 1;" label="Condition"></filter-button>
            <filter-button style="flex: 1;" label="Size"></filter-button>
        </div>
    </div>
    <filter-product-mobile-view [products]="products"></filter-product-mobile-view>
    <filter-product-desktop-view [products]="products"></filter-product-desktop-view>
    <app-about-footer></app-about-footer>
    <app-footer></app-footer>
</main>
