<style>
    .feature {
        gap:16px;
        flex-grow: 1;
        padding:16px;
        border-left:1px solid rgba(228, 231, 233, 1);
    }
    .feature-text{
        text-align: left;
        gap:8px;
    }
    .title{
        font-weight: 700;
        text-transform: uppercase;
        color:rgba(25, 28, 31, 1);
        line-height: 20px;
    }
    .subtitle{
        color:rgba(95, 108, 114, 1);
        font-weight: 400;
    }
    .title,.subtitle{
        font-size: 14px;
    }
</style>
<div class="feature flex items-center" [style]="customStyle">
    <div>
        <img [src]="iconUrl" alt=""/>
    </div>
    <div class="feature-text flex flex-column">
        <p class="title">{{title}}</p>
        <p class="subtitle">{{subTitle}}</p>
    </div>
</div>