<main class="main">
    <navbar></navbar>
    <section class="main-section">
      <video id="background-video" preload="auto" autoplay muted loop playsinline>
        <source src="/assets/videos/archif-bg.mp4" type="video/mp4">
      </video>
      <div class="watermark-container">
        <water-mark-text label="ARCHIF" [customStyle]="{fontSize:'clamp(80px,15vw,270px)'}"></water-mark-text>
      </div>
      <div class="gradient-mask"></div>
      <div class="archif-info">
        <h1 class="sweet-pastries-title">
          SWEET<br />PASTRIES
        </h1>
        <p class="sweet-pastries-subtitle">
          Get all you need from ARCHIF
        </p>
      </div>
      <a routerLink="/shop" className=""><button class="discover-cta">Discover Our Exquisite Selections</button> </a>
    </section>
  </main>