<main class="dashboard flex flex-column">
    <navbar></navbar>
    <div class="store-toolbar flex items-center">
        <div class="store-info flex items-center">
            <img src="/assets/images/store-logo.svg" />
            <h1>Store Name</h1>
        </div>
        <div class="search-input-group">
            <input class="search-input" type="text" placeholder="Search..." />
        </div>
        <button class="add-product desktop" routerLink="/sell">ADD PRODUCT</button>
    </div>
    <button class="add-product mobile" routerLink="/sell">ADD PRODUCT</button>
    <main class="dashboard-content">
        <aside>
            <nav class="flex flex-column  sidebar">
              <a routerLinkActive="active" routerLink="/seller/" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center sidebar-item">
                  <img src="/assets/icons/dashboard-icon.svg" />
                  <span>Dashboard</span>
              </a>
              <a routerLinkActive="active" routerLink="/seller/offers" class="flex items-center sidebar-item">
                  <img src="/assets/icons/offers-icon.svg" />
                  <span>Offers</span>
              </a>
              <a routerLinkActive="active" routerLink="/seller/products" class="flex items-center sidebar-item">
                  <img src="/assets/icons/products-icon.svg" />
                  <span>Products</span>
              </a>
              <a routerLinkActive="active" routerLink="/profile" class="flex items-center sidebar-item">
                  <img src="/assets/icons/settings-icon.svg" />
                  <span>Profile and Settings</span>
              </a>
            </nav>
        </aside>
      <div class="dashboard-info">
        <router-outlet></router-outlet>
      </div>
    </main>
</main>