<style>
    .gagdet-shop-button{
        background-color:var(--archif-primary-color);
        color:var(--archif-secondary-color);
        padding:10px 36px;
        margin-top: 24px;
        font-family: 'Helvetica';
        background-color:rgba(9, 9, 9, 1);
         color: white;
    }
</style>
<button [style]="customStyle" class="gagdet-shop-button flex items-center">
    <span>{{label}}</span>
    <span>
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.8761 12.8076H20.3761" [attr.stroke]="iconColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.6261 6.05762L20.3761 12.8076L13.6261 19.5576" [attr.stroke]="iconColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </span>
</button>