@import "primeicons/primeicons.css";
@import "tailwindcss";
:root{
    --archif-primary-color:#000000;
    --archif-secondary-color:#ffffff;
    --archif-border-color:rgba(210, 211, 206, 1);
    --archif-mobile:500px;
    --archif-tablet:768px;
    font-size: 16px;
}
@font-face {
    font-family: 'heliosrounded';
    src: url('/assets/fonts/heliosrounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body{
    height: 100% !important;
    width: 100% !important;
}
body{
    font-family:"Helvetica Neue", sans-serif;
    /* overflow-x: hidden; */
}
input:focus{
    outline-color: #000000;
}
button{
    background-color: transparent;
    cursor: pointer;
}
.flex{
    display:flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items: start;
}
.items-end{
    align-items: end;
}

.p-tab{
    color:rgba(31, 41, 55, 1) !important;
    font-weight:400;
} .p-tab-active{
    color:rgba(9, 9, 9, 1) !important;
    border-bottom-width: 1px !important;
    border-color:var(--mhc-primary-color)!important; ;
}
.p-tablist-active-bar{
   background-color: rgba(9, 9, 9, 1) !important;
}
.p-tabpanels{
    padding-inline: 0 !important;
}

