<main>
    <div style="height: 100%;">
        <app-header></app-header>
        <div class="watermark-container first-water-mark">
            <water-mark-text label="ARCHIFF"></water-mark-text>
        </div>
        <div class="watermark-container">
            <water-mark-text  label="ARCHIFF"></water-mark-text>
        </div>
        <div class="watermark-container">
            <water-mark-text label="ARCHIFF"></water-mark-text>
        </div>
    </div>
    <div class="modal">
        @if(currentViewIndex === 1){
            <h2 class="modal-heading">Reset Password</h2>
            <p>To reset your password, please enter the email address associated with your archiff account</p>
            <form (ngSubmit)="requestPasswordReset()" class="input-group mb-5" [formGroup]="emailForm">
                <div class="text-[red] mb-3 text-start text-[14px]" *ngIf="email.touched && !emailForm.valid">Email must be a valid e-mail</div>
                <label for="email">Email Address</label>
                <input type="text" formControlName="email"
                    class="placeholder:text-[14px] placeholder:text-[#475156]"
                    id="email" placeholder="Enter email"
                />
                <button [disabled]="!emailForm.valid" (click)="requestPasswordReset()" class="mt-6 disabled:opacity-50 disabled:!cursor-not-allowed verify-btn flex gap-1 items-center justify-center">
                    @if(loading){
                        <span class="text-[14px]">REQUESTING</span>
                        <app-loader [loading]="loading"></app-loader>
                    }@else {
                        <span class="text-[14px]">RESET PASSWORD</span>
                        <img style="color:white" src="/assets/icons/arrow-right-white.svg" alt="" />
                    }
                </button>
            </form>
        }
        @else if(currentViewIndex === 2){
            <h2 class="modal-heading">Verify Your Account</h2>
            <p>Enter the code that has been sent to your email</p>
            <form (ngSubmit)="verifyResetOtp()" class="input-group mb-5" [formGroup]="otpForm">
                <label for="verification-code">Verification Code</label>
                <input type="text" formControlName="code"
                class="placeholder:text-[14px] placeholder:text-[#475156]"
                id="verification-code" placeholder="Enter Code"
                />
                <div class="text-[red] mt-4 text-center text-[14px]" *ngIf="this.errorMessage !== ''">{{this.errorMessage}}</div>
                <app-otp-timer (resend)="resendOtp()" />
            </form>
            <button [disabled]="this.otpForm.value.code == ''" (click)="verifyResetOtp()" class="verify-btn flex gap-1 items-center justify-center disabled:opacity-50 disabled:!cursor-not-allowed">
                @if(loading){
                    <span class="text-[14px]">VERIFYING</span>
                    <app-loader [loading]="loading"></app-loader>
                }@else {
                    <span class="text-[14px]">VERIFY </span>
                    <img style="color:white" src="/assets/icons/arrow-right-white.svg" alt="" />
                }
            </button>
        }@else if(currentViewIndex === 3){
            <form class="input-group mb-5" (ngSubmit)="resetPassword()" [formGroup]="passwordChangeForm">
                <h2 class="modal-heading text-center">Set new Password</h2>
                <div class="input-group !mb-2">
                    <label for="password" class="!mb-1">Password</label>
                    <input formControlName="password" type="password" class="!mt-0" id="password">
                </div>
                <div class="input-group !mt-2">
                    <label for="new-password" class="!mb-1">New Password</label>
                    <input type="password" formControlName="confirmPassword" class="!mt-0" id="new-password"  >
                </div>
                @let passwordChangeErrorMismatch = passwordChangeForm.errors;
                @if(passwordChangeErrorMismatch?.['mismatch'] && confirmPassword.touched){
                    <div class="error-message-container flex items-center">
                        <p class="error-message">Passwords do not match</p>
                    </div>
                } 
                <div class="requirements flex flex-column items-start mb-4">
                    <div>
                      <div class="flex items-center" style="gap:8px">
                        @if(password.touched && password.value?.length <= 8){
                            <span class="error-message" class="text-[14px] text-[#6c757d]">Password should be at least 8 characters</span>
                        }
                      </div>
                    </div>
                  </div>
                <button (click)="resetPassword()" class="verify-btn flex gap-1 items-center justify-center disabled:opacity-50 disabled:!cursor-not-allowed">
                    @if(loading){
                        <span class="text-[14px]">RESETTING PASSWORD</span>
                        <app-loader [loading]="loading"></app-loader>
                    }@else {
                        <span class="text-[14px]">CHANGE PASSWORD</span>
                        <img style="color:white" src="/assets/icons/arrow-right-white.svg" alt="" />
                    }
                </button>
            </form>
        }
        @else if(currentViewIndex === 4){

        }
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>  
</main>