<style>
    .menu {
        display: flex;
        gap: 15px;
        background-color: var(--archif-secondary-color);
        border-radius: 46px;
        padding: 4px;
    }
    .menu-item {
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 24px;
        transition-duration: 300ms;
        color:var(--archif-primary-color)
    }
    .active {
        background-color: white;
        border: 1px solid var(--archif-border-color);
        color: var(--archif-primary-color);
        border-radius: 24px;
        padding: 10px 24px;
    }
    @media screen and (max-width:700px) {
        .menu {
            position: absolute;
            top:90px;
            left:50%;
            transform: translateX(-50%);
        }
        .menu-item{
            padding-inline: 16px;
        }
    }
</style>
<div class="menu">
    <a (click)="makeLinkActive($event)" routerLink="/" class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home </a>
    <a (click)="makeLinkActive($event)" routerLink="/shop" class="menu-item"  routerLinkActive="active">Buy</a>
    <a (click)="navigateSeller($event)"  class="menu-item"  routerLinkActive="active">Sell</a>
</div>